<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quirktastic"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".core.QuirktasticApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onboard.activity.AddPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sendrequest.SendRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sendrequest.SentRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboard.activity.InterestsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".onboard.activity.InterestAnswerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name=".onboard.activity.PersonalityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".onboard.activity.IdentityGenderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name=".onboard.activity.IdentityNationalityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name=".onboard.activity.SocialLifeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name=".onboard.activity.EventsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name=".onboard.activity.ContinueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboard.activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboard.activity.AddPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboard.activity.VerifyPhoneNumberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".onboard.activity.BasicInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dashboard.profile.ProfileActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatProfileActivity"
            android:parentActivityName=".dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".chat.BlockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.UnfriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.profile.PreferencesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".dashboard.friendrequeststatus.FriendRequestStatusActivity"
            android:parentActivityName=".dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.friendrequeststatus.ViewUserProfileActivity"
            android:parentActivityName=".dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.profile.ScanPassNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".instagram.InstaImageSlideActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".fcm.GetFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.quirktastic.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="android:resource" />
        </provider>


        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />


    </application>

</manifest>